body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.photo {
  width: 100px;
  height: auto;
  padding: 15px;
}

.elem {
  background-color: gainsboro;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.elem:focus{
  background-color: palegreen;
}

h4 {
  align-self:center;
}

.card {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-flow: wrap;
}

.liste {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

label {
  font-size: larger;
  padding: 10px 5px;
}